@model AspWrong.Models.Article2

@{
    ViewData["Title"] = "Vymazání";
}

<h3>Opravdu si přejete událost smazat?</h3>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jméno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jméno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Příjmení)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Příjmení)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na hlavní stránku</a>
    </form>
</div>
