@model IEnumerable<AspWrong.Models.Article2>

@{
    ViewData["Title"] = "Pojistné události";
}
<p>
<a asp-action="Create">Přidat pojistnou událost</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jméno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Příjmení)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jméno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Příjmení)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editovat</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Vymazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Udalosti">Zpět na hlavní stránku</a>
